:root {
	--grid-lines-color: #c2c2c2;
}

.dark {
	--grid-lines-color: var(--md-surface);
}

svg {
	background-color: var(--md-surface);
	color: var(--md-text);
}

svg .num {
	font: 1em "Fira Code";
}

.gridLines {
	stroke: var(--grid-lines-color)
}

.numbers text {
	font: 1em "Fira Code";
}