:root {
	--chess-border-color: #000000;
	--chess-black-color: #769656;
	--chess-white-color: #EEEED2;
	--chess-background-color: #ffffff;

}

html,
body {
	margin: 0;
	padding: 0;
}

.container-full {
	display: flex;
	flex-direction: column;
	gap: 3em;
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

@media (min-width: 1180px) {
	.container-full {
		flex-direction: row;
	}
}