:root {
	--slider-color: rgba(128, 128, 128, 0.2);
	/* #555 */
	--slider-bg-color: rgba(128, 128, 128, 0.1);
	/* #222 */
	--bg-color: transparent;
	/* #484848 */

	--dark-bg-color: #000000;
	--dark-text: #ffffff;
	--dark-surface-color: rgba(255, 255, 255, 0.07);
}

@font-face {
	font-family: "Fira Sans";
	src: url("/resource/font/Fira\ Sans/FiraSans-bold.ttf") format("truetype");
}

/* bootstrap extention*/
.container {
	background-color: var(--surface-color);
	padding: 10vh 10vw;
	margin: 0 20vw;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	width: 100%;
}
@media (min-width: 576px) {
	.container,
	.container-sm {
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.container,
	.container-md,
	.container-sm {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm {
		max-width: 740px;
	}
}
@media (min-width: 1200px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 790px;
	}
}
@media (min-width: 1400px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 860px;
	}
}
.p-10 {
	padding: 6rem;
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	font-family: "Fira Sans";
	font-weight: 700;
}

body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	font-family: "Fira Sans";
}

.center {
	display: flex;
	justify-content: center;
	text-align: center;
}

.overflow-x-scroll {
	overflow-x: scroll;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

/*** custom sliders ***/
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
	transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar {
	margin: -50px;
	background-color: #e9ecef;
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 3px var(--inset-shadow-color);
	background-color: var(--slider-color);
	border-width: 0;
	border-radius: 3px;
}

::-webkit-scrollbar-track {
	margin: 0;
	border-width: 0;
	border-radius: 0;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

h1 {
	padding: 4px 0.3em;
	border-bottom: #fff 3px solid;
}

h2 {
	font-size: 1.875rem;
}

.tablet {
	position: relative;
	padding-top: 56.25%;
	width: 100%;
	border: #00eeff solid 2px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.14);
}

.tablet-field {
	width: 8rem;
}

.hide {
	display: none;
}

.top {
	position: absolute;
	top: 7px;
	left: 50%;
	transform: translateX(-50%);
}

.left {
	position: absolute;
	left: 7px;
	top: 50%;
	transform: translateY(-50%);
}

.right {
	position: absolute;
	right: 7px;
	top: 50%;
	transform: translateY(-50%);
}

.bottom {
	position: absolute;
	bottom: 7px;
	left: 50%;
	transform: translateX(-50%);
}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
